.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.code-workspace

.env
*.env.local
!.env.example

service1-node/node_modules/
service1-node/npm-debug.log*
service1-node/yarn-debug.log*
service1-node/yarn-error.log*
service1-node/pnpm-debug.log*

**/bin/
**/obj/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

TestResult.xml
TestResults/
*.coverage
*.coveragexml

coverage/
.nyc_output/

vstorage/*
!vstorage/.gitkeep

*.log
logs/
!docker-status.txt

**/out/

docker-compose.override.yaml
